<div class="container mt-5" *ngIf="user">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center"> Your Account Information </h5>
          <p class="card-text"><strong>Username: </strong>{{ user.email }}</p>
          <p class="card-text"><strong>First Name: </strong>{{ user.firstName }}</p>
          <p class="card-text"><strong>Surname: </strong>{{ user.lastName }}</p>
          <p class="card-text"><strong>Mobile: </strong> {{ user.phone }}</p>
          <p class="card-text"><strong>Address: </strong>{{ user.address }}</p>
          <br>
          <div class="text-center">
            <button class="btn btn-primary" routerLink="/home">Back</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
